# This is a basic workflow to help you get started with Actions

name: Node App

# Controls when the action will run.
on: workflow_dispatch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: Run
        env:
          CI: true
          MY_SECRET: ${{ secrets.MY_SECRET }}
        run: cd .github/node-app && npm ci && npm start
